.navigate {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #4F5D75 #f7f7f8;
    scrollbar-width: thin;
}