.button_item {
    position: relative;
    top: 5px;
    background-color: #2b2d30;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    width: 250px;
    min-height: 50px;
    border: 1px solid rgba(105, 105, 105, 0.7);
    align-items: center;
    font-family: sans-serif;
    color: #F2F2F7;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.2s;

}

.button_item:hover {
    background-color: #343436;
    border: 1px solid rgba(154, 153, 153, 0.7);
    transition: 0.2s;
}

.menuItem_edit {
    position: absolute;
    top: 13px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../../../images/edit-svgrepo-com.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity .2s;
}

.menuItem_edit:hover {
    opacity: 0.9;
    transition: opacity .2s;
}

.ripple {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #50ff53;
    position: absolute;
    bottom: 5px;
}

.ripple:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    left: -4px;
    border: 2px solid #50ff53;
    animation: anim-ripple 2s infinite;
}

@keyframes anim-ripple {
    from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
    }
    to {
        opacity: 0;
        transform: scale3d(1.25, 1.25, 1);
    }
}

.ripple_off {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3b423b;
    position: absolute;
    bottom: 5px;
}

.text {
    margin-left: 4px;
}